@model GameStoreMid.Models.ClientOrder

@{
    ViewData["Title"] = "Order Details";
}

<link href="~/css/inovice.css" rel="stylesheet" />

<div class="container table-bordered new-design">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="row p-5">
                        <div class="col-md-6">
                            <h3>GameStoreMid</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-1">Invoice #@Model.OrderID</p>
                            <p class="text-muted">Due to: @Model.OrderDate</p>
                        </div>
                    </div>
                    <hr class="my-5">
                    <div class="row pb-5 p-5">
                        <div class="col-md-6">
                            <p class="font-weight-bold mb-4">Client Information</p>
                            <p class="mb-1">@Model.ApplicationUser.UserName</p>
                            <p class="mb-1">@Model.ApplicationUser.Address.Country</p>
                            <p class="mb-1">@Model.ApplicationUser.Address.City</p>
                            <p class="mb-1">@Model.ApplicationUser.Address.Street</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-4">Payment Details</p>
                            <p class="mb-1">
                                <span class="text-muted">Payment Type: </span> Credit Card
                            </p>
                            <p class="mb-1">
                                <span class="text-muted">Name: </span> @Html.DisplayFor(model => model.ApplicationUser.UserName)
                            </p>
                        </div>
                    </div>
                    <div class="row p-5">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Product</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Unit Cost</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        List<Product> products = ViewBag.products;
                                        List<int> deals = ViewBag.deals;
                                        double? Total = 0;
                                        for (int i = 0, j = 0; i < products.Count(); i++)
                                        {
                                            double finalPrice = products[i].Cost;
                                            int? quan = @Model.ProductOrders.FirstOrDefault(p => p.ProductID == products[i].ProductID).Quantity;
                                            double? orgCost = finalPrice * quan;
                                            if (deals.Count() > 0 && products[i].DealID != null)
                                            {
                                                double deal = Convert.ToDouble(deals[j] / 100);
                                                double price = products[i].Cost;
                                                finalPrice = price - deal * price;
                                                j++;
                                            }
                                            double? totalAmo = quan * finalPrice;
                                            Total += totalAmo;
                                            <tr>
                                                <td>@products[i].ProductID</td>
                                                <td>@products[i].ProductName</td>
                                                <td>@quan</td>
                                                <td>$@finalPrice</td>
                                                <td name="selectedProducts" value="@totalAmo">$@totalAmo</td>
                                                <td type="hidden" name="originalCost" value="@orgCost"></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <br>
                    <div class="total">
                        <div class="row">
                            <div class="col-lg-4">
                                <span class="totalText">Grand Total:</span>
                                <span id="grandTotal" readonly="readonly"> </span>
                            </div>
                            <div class="col-lg-4">
                                <span class="totalText">Discount:</span>
                                <span id="disPrsnt" readonly="readonly"></span>
                            </div>
                            <div class="col-lg-4">
                                <span class="totalText"> Sub Total amount:</span>
                                <span id="disAmount" readonly="readonly"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="pull-left">
                        <form asp-action="Index">
                            <button class="btn btn-default pull-left" asp-action="Index">Back To Order</button>
                        </form>

                    </div>
                    @{
                        if (User.IsInRole("Administrator"))
                        {
                            <form asp-action="Delete">
                                <button class="btn btn-danger pull-right" asp-action="Delete" asp-route-id="@Model.OrderID">Delete</button>
                            </form>
                        }
                    }
                    <br />
                    <br />
                    <br />
                    <div class="text-light mt-5 mb-5 text-center small">
                        by :
                        <a class="text-light" target="_blank" href="http://totoprayogo.com">totoprayogo.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/inovice.js"></script>
